[logging]
level = INFO

[db_conf]
host = localhost
port = 5432
database = otl_interpreter
user = otl_interpreter
password = otl_interpreter

[job_planer]
computing_node_type_priority = SPARK EEP POST_PROCESSING
